<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>자기 소개페이지</h1>
  <p>Resize this responsive page to see the effect!</p> 
</div>

  
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ introduce.name }}</h3>

            <table class="table table-bordered table-hover">
            {% for introduce in introduce_list %}
                <tr>
                    <td>
                        <a href="/introduce/{{ introduce.pk }}/">
                            {{ introduce.name }}
                        </a>
                    </td>
                    <td>{{ introduce.birthday }}</td>
                    <td>{{ introduce.address }}</td>
                    <td>{{ introduce.hobby }}</td>
                </tr>
            {% endfor %}
            </table>

            <a href="#" class="btn btn-primary">New </a>
        </div>
    </div>
</div>